<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>MinChat | FSE</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/chat.css">
    <script src="/js/jquery-1.11.js"></script>
</head>
<body>
    <header class="header">
        <span class="visible-xs-block glyphicon glyphicon-th-list licon"></span>
        <p>CHATROOM</p>
        <span class="visible-xs-block glyphicon glyphicon-user ricon"></span>
    </header>
    <div class="container-fluid">
        <div class="row main">
            <div class="col-sm-3 col-xs-10 chat-group xs-hide">
                <form action="" id="joingrp-form" class="form-inline">
                    <input type="text" id="join-grp" class="form-control" autocomplete="off" /><button disabled="disabled" class='btn btn-primary'>Join</button>
                </form>
                <ul id="groups" class="list-group">
                </ul>
            </div>
            <div class="col-sm-6 col-xs-12 chat-main">
                <div class="placeholder">
                    <p>Please choose a chat room from the list on the left</p>
                </div>
                <ul class="messages"></ul>
                <form id='form' action="">
                  <div class="inputL">
                    <div class="palette">
<% 
var color = ['#b00000',"#AABF03","#752AEC","#1A058A","#212121","#DE9004","#317B21"]
var bgc = ['#F9D3D3',"#E8F9D3","#CDA0FD","#D6D5D8","#EBEAEC","#F5E8CE","#D6FBD8"] 
for (var i = 0; i < 7; i ++) { %>
                <div class="colorbox" data-color="<%= color[i] %>" data-bgc="<%= bgc[i] %>" style="background-color:<%= color[i] %>"></div>
<% } %>
                    <div class="colorbox none">x</div>
                    </div>
                    <label for="m" id="username" data-color="#3c3c3c"><%= username %></label>
                    <div>
                      <input data-group="man" id="m" autocomplete="off" />      
                    </div>
                  </div>
                  <button disabled="disabled">Send</button>
                </form>
            </div>
            <div class="col-sm-3 col-xs-10 chat-peerlist xs-hide">
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
<script src="/js/socket.io.js"></script>
<script>
$(function () {
    /* helper */
    function myname() {
        return $("#username").text();
    }

    function mycolor() {
        return $("#username").attr("data-color")
    }

    function enable (selector) {
        $(selector).removeAttr("disabled");
    }

    function disable (selector) {
        $(selector).attr("disabled", "disabled");
    }

    
    function resize () {
        // content height
        var main_height = $(window).height() - $(".header").height();
        $(".main>div").height(main_height);
        $(".messages").height(main_height-$("#form").height())

        // side bars - when screen is small
        var win_width = $(window).width();
        if (win_width <= 767) {
            $('.chat-group').css('left', -30-$(".chat-group").width());
            $('.chat-peerlist').css('right', -30-$(".chat-peerlist").width());
        } else {
            $(".chat-group").css("left", 0);
            $(".chat-peerlist").css("right", 0);
        }
    }
    $(window).resize(resize);
    resize();

    /* toggle side bar */
    $(".licon").click(function () {
        $(".chat-group").toggleClass('show')
        $(".chat-peerlist").removeClass('show')
    })
    $(".ricon").click(function () {
        $(".chat-peerlist").toggleClass('show')
        $(".chat-group").removeClass('show')
    })

    /* Choose Color */
    $("#username").click(function(){
        $(".palette").toggle();
    })

    $(".colorbox").click(function() {
        var color = $(this).attr("data-color"); 
        $("#username").attr("data-color", color).css("color",color);
        $("#form").css("background-color",$(this).attr("data-bgc"));
        $(".palette").css("background-color",$(this).attr("data-bgc"));
        $(".palette").hide();
        $("#m")[0].focus();
    })

    /* check group adding */
    $("#join-grp").keyup(function () {
        if($(this).val() != "")
            enable("#joingrp-form .btn")
        else
            disable("#joingrp-form .btn")
    })


    /*
     * Socket packge - manage socket io.
     */
    var socket = io();
    $('#form').submit(function(){
        if ($("#m").val() == "")
            return false;
        var msg = {
          'username': myname(),
          'text': $('#m').val(),
          'color': mycolor(),
          'room': $('#m').attr('data-group')
        }
        socket.emit('chat message', msg);
        $('#m').val('');
        return false;
    });

    $("#joingrp-form").submit(function(){
        var msg = {
            'username': myname(),
            'command': 'join',
            'room': $("#join-grp").val(),
            'token': 'nomal'
        }
        socket.emit('grp command', msg);
        $("#join-grp").val("");
        return false;
    });

    socket.on('chat message', function (msg){
        var mstr = "<span style='color:"+msg.color+"' data-talkid='"+msg.talkid+"'>[ "+msg.username+" ] "+msg.text+"</span>"
        $('#cwin-'+msg.room).append($('<li>').html(mstr)).stop(true,true).animate({scrollTop: $('#cwin-'+msg.room)[0].scrollHeight}, 100);
        if(!$('#glist-'+msg.room).hasClass('curr')) {
            var obadge = $("#glistbadge-"+msg.room).text()
            var onumber = obadge ? Number(obadge) : 0;
            $("#glistbadge-"+msg.room).text(onumber+1);
        }
    });

    socket.on('success', function (msg) {
        var action = msg.act;
        if (action == 'JOIN') {
            var gname = "#glist-" + msg.room;
            $("#groups").append("<a href='javascript:void(0)' class='gtag list-group-item' id='glist-"+msg.room+"'>"+msg.room+"<span class='badge' id='glistbadge-"+msg.room+"'></span></a>")

            $(".chat-main").append("<ul class='messages' data-load='none' id='cwin-"+msg.room+"'></ul>")
            $(".chat-peerlist").prepend("<ul class='members list-group' data-load='none' id='pwin-"+msg.room+"'><li class='pwinheader list-group-item'>User list</li><a href='javascript:void(0)' class='leave-btn list-group-item' id='gleave-"+msg.room+"'>Leave Room</a></ul>")
            $("#gleave-"+msg.room).click(function(){
                var leavemessage = {
                    'username': myname(),
                    'command': 'leave',
                    'room': msg.room
                }
                socket.emit('grp command', leavemessage);
                $(".chat-peerlist").toggleClass('show');
                $(".header>p").text("CHATROOM");
                $(".placeholder").show(); 
                disable("#form button")
            })
            $(gname).click(function(){
                $(".chat-group").removeClass('show');
                $(".placeholder").hide(); 
                $(".header>p").text(msg.room);
                $(".gtag").removeClass('curr');
                $("#glistbadge-"+msg.room).text("");
                $(this).addClass('curr');
                $('#m').attr('data-group', msg.room);
                $(".messages").removeClass('curr');
                $("#cwin-"+msg.room).addClass('curr');
                $(".members").removeClass('curr');
                $("#pwin-"+msg.room).addClass('curr');
                enable("#form button");
                if ($("#cwin-"+msg.room).attr('data-load') == 'none') {
                    $.getJSON("/api/talk", {
                        grp: msg.room,
                        cursor: 0,
                        number: 30
                    }, function (data) {
                        var talkwin = $("#cwin-"+msg.room);
                        for (var i = 0; i < data.length; i ++) {
                            var mstr = "<span style='color:"+data[i].color+"' data-talkid='"+data[i].id+"'>[ "+data[i].user+" ] "+data[i].text+"</span>"
                            $(talkwin).prepend($("<li>").html(mstr));   
                        }
                        $(talkwin).attr('data-load', 'loaded')
                        $(talkwin).scrollTop($(talkwin)[0].scrollHeight)
                    })
                }
                if ($("#pwin-"+msg.room).attr('data-load') == 'none') {
                    $.getJSON("/api/members", {
                        grp: msg.room
                    }, function (data) {
                        for (var i = 0; i < data.length; i ++) {
                            $("#pwin-"+msg.room+" .pwinheader").after("<li class='list-group-item' id='mem-"+msg.room+"-"+data[i]+"'>"+data[i]+"</li>")
                        }
                        $("#pwin-"+msg.room).attr('data-load', 'loaded')
                    })
                }
            })
            resize();
        } else if (action == 'LEAVE') {
            $("#glist-"+msg.room).remove();
            $("#cwin-"+msg.room).remove();
            $("#pwin-"+msg.room).remove();
        }
    });

    socket.on('user info', function (msg) {
        if (msg.act == 'LEAVE') {
            $("#cwin-"+msg.room).append($("<li>").html("User '" + msg.user + "' leaves room"))
            $("#mem-"+msg.room+"-"+msg.user).remove();
        } else if (msg.act == "JOIN") {
            $("#cwin-"+msg.room).append($("<li>").html("User '" + msg.user + "' comes here"))
            if(msg.user != myname())
                $("#pwin-"+msg.room+" .pwinheader").after($("<li class='list-group-item' id='mem-"+msg.room+"-"+msg.user+"'>").text(msg.user))
        }
    })

    socket.on('error', function (err) {
        alert(err);
    })

    /*
     * initialize
     */
    $.getJSON('/api/grplist', {user:$("#username").text()}, function (data) {
        for (var i = 0; i < data.list.length; i ++) {
            socket.emit('grp command', {
                username: $("#username").text(),
                command: 'join',
                room: data.list[i],
                token: 'init'
            })
        }
    })
})
</script>
</body>
</html>